.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 63vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#team-queue {
  min-height: 27vh;
  border-bottom:solid;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}
